
@font-face {
    font-family: Migra;
    src: url('fonts/Migra-Extrabold.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('fonts/Nunito-Black.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Nunito;
    src: url('fonts/Nunito-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: RobotoSlab;
    src: url('fonts/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: RobotoSlab;
    src: url('fonts/RobotoSlab-SemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Thin.ttf');
}

body{
    background-color: #ebe8dd;
    color: #2f302f;
    font-family: Nunito;
    background-image: url('src/background.png');
    background-repeat: repeat;
    background-size: 100px, 100px;
    margin:0;
    cursor: default;
}

body.waiting,
body.waiting *,
body.waiting #hr_diagram,body.waiting #hr_diagram *,
body.waiting #age_distribution,body.waiting #age_distribution *
{
    cursor: wait !important;
}

h1{
    font-family: Migra;
    text-align: left;
    font-size: 6.5em;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: bold;
    margin-left: 20%;
    line-height: 1em;
    width: 50%;
}

h2{
    font-family: Roboto;
    font-style: normal;
    text-align: left;
    font-size: 1.25em;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-left: 20%;
}

p, i{
    font-size: 15px;
}

h1,h2,h3,p,i,span{
    cursor: text;
}

a{
    text-decoration: none;
    color: #2f302f;
}

#loading_div{
    position:fixed;
    z-index:300;
    top:-100px;
    left:50%;
    transform: translateX(-50%);
    width:fit-content;
    height:30px;
    background-image: url('src/background2.png');
    color:#ebe8dd;
    font-family: RobotoSlab;
    font-weight: bold;
    font-size: 20px;
    transition: top 0.5s ease-in-out;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    box-shadow: 0px 10px 20px 5px rgba(69, 110, 76, 0.5);
}

#loading_bar{
    width:0%;
    height:7px;
    position:fixed;
    z-index:301;
    top:0;
    left:0;
    background-image: url('src/background2.png');
}

#container {
    margin:0 auto;
}

#main_div, #pdf_div {
    border: 1px solid #2f302f;
    box-shadow: 0px 20px 40px 10px rgba(69, 110, 76, 0.35);
    width: fit-content;
    background-color: #ebe8dd;
    margin: 0 auto;
    margin-bottom: 25px;
    padding:25px;
    padding-top: 0px;
    position: relative;
}

#pdf_div{
    margin-top: -40px;
}

#main_div{
    margin-top: -2px;
    z-index: 2;
}

.header_button {
    display: inline-block;
    font: 15px RobotoSlab;
    z-index: 1;
    background-image: url('src/background2.png');
    background-repeat: repeat;
    background-size: 100px, 100px;
    box-shadow: 0px 10px 20px 5px rgba(69, 110, 76, 0.5);
    border: none;
    color: #ebe8dd;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    width: fit-content;
    cursor: pointer;
    transition: box-shadow .2s;
    height: 30px;
}

.header_button{
    margin-left: 15px;
}

#help_div{
    margin-left: 20%;
}

.header_button:hover{
    box-shadow: 0px 12px 20px 5px rgba(69, 110, 76, 0.6);
}

#info{
    display:none;
    position: absolute;
    left:0;
    top:0;
    margin:0 auto;
    width:100%;
    height: 100%;
    z-index: 50;
    justify-content: center;
    text-align: center;
}

#info_bg{
    position: fixed;
    background-image: url('src/background.png');
    opacity: 0.25;
    filter:brightness(0.25);
    width:100%;
    height: 100%;
}

#info_container {
    width:50%;
    height:fit-content;
    background-image: url('src/background.png');
    border: 1px solid #2f302f;
    opacity: 1;
    filter:brightness(1);
    z-index:100;
    margin:0 auto;
    box-shadow: 0px 20px 40px 10px rgba(69, 110, 76, 0.35);
    padding:25px;
}

#info_container a{
    color:#528c5c;
    text-decoration: underline;
    font-family: RobotoSlab;
    font-weight: bold;
}

#info_container .important{
    color:#528c5c;
    font-family: RobotoSlab;
    font-weight: bold;
}

#info_container .script{
    font-family: RobotoSlab;
    font-weight: bold;
    white-space: nowrap;
}

#info_container p{
    font-size:17px;
    text-align: left;
}

#info_close{
    margin-top: 250px;
    cursor: pointer;
    font-size: 25px;
    position: relative;
    left:25%;
    width:40px;
    height:33px;
    padding-top: 7px;
    color:#ebe8dd;
    background-image: url('src/background2.png');
    box-shadow: 0px 10px 20px 5px rgba(69, 110, 76, 0.5);
    transition: box-shadow .2s;
}

#info_close:hover{
    box-shadow: 0px 12px 20px 5px rgba(69, 110, 76, 0.6);
}

.header_button i{
    cursor: pointer;
    margin-right: 10px;
}

#import_div .fa-xmark{
    margin-left: 10px;
    margin-right: -10px;
    font-size: 20px;
    transform: translateY(2px);
    line-height: 0px;
}

#pdf_div{
    z-index: 1;
    background-image: url('src/background2.png');
    background-repeat: repeat;
    background-size: 100px, 100px;
    box-shadow: 0px 10px 20px 5px rgba(69, 110, 76, 0.5);
    border: none;
    color: #ebe8dd;
    padding-top:10px;
    padding-bottom: 0px;
    margin-bottom: 50px;
    width: 48%;
}

#deselect_bin{
    display: none;
    position: absolute;
    left:100px;
    top:25px;
    cursor: pointer;
    z-index: 100;
    font-family: RobotoSlab;
    color:white;
    text-decoration: underline;
}

#deselect_bin i{
    margin-right: 5px;
    cursor: pointer;
}

#result {
    margin:0 auto;
    margin-top: 0px;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}

#result span{
    display: inline-block;
    font-size: 17px;
    font-family: RobotoSlab;
    margin-left:20px;
    margin-right: 20px;
    height:40px;
}

#result .underscore{
    display: inline-block;
    vertical-align: sub;
    font-size: 12px;
}

#big_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hr_diagram {
    width: fit-content;
    margin: 0;
}

#controls {
    width: fit-content;
    margin: 0;
}

.draglayer .xy rect{
    cursor: crosshair !important;
}

label[disabled='disabled'],input[disabled='disabled'], select[disabled='disabled']{
    cursor: not-allowed;
    opacity: 0.5;
}

input, select{
    display: block;
}

select{
    width: 100px;
    height: 35px;
    background-color: #ebe8dd;
    border: 1px solid #2f302f;
    border-radius: 0px;
    cursor: pointer;
}

input[type="range"]{
    accent-color: #528c5c; 
}

input[type="number"]{
    height: 25px;
    width: 75px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #2f302f;
}

label,input, select{
    text-align: center;
    display: block;
    margin:0 auto;
}

label{
    margin-top: 10px;
}

button{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 0px;
    border: none;
    font-weight: bold;
    background-color: #528c5c;
    cursor: pointer;
    color: #ebe8dd;
    font-family: RobotoSlab;
    transition: box-shadow .2s;
    font-size: 17px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width:210px;
}

button:hover{
    box-shadow: 0px 5px 10px 5px rgba(69, 110, 76, 0.15);
}

#age_distribution{
    margin: 0 auto;
    width: fit-content;
    margin-top:-30px;
    pointer-events: none;
}

.stars{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    transform: translateY(4px);
    background-image: url('src/stars.svg');
}

.stars:nth-of-type(2) {
    transform: translateY(4px) scaleX(-1);
}